body {
  padding: 0;
  margin: 0;
  font-family: var(--el-font-family), serif;
  font-size: var(--el-font-size-base);
  color: var(--el-text-color);
}

// 可拖拽
.drag-area {
  -webkit-app-region: drag;
}

// 不可拖拽
.no-drag-area {
  -webkit-app-region: no-drag;
}
