// 过渡动画
$app-transition-base: 150ms linear;

// 尺寸
$app-icon-size-base: 20px;
$app-padding-base: 10px;
$app-padding-small: 5px;
$app-dialog-height: 450px;
$app-header-height: 40px;
$app-chatgpt-sidebar-width: 250px;
$app-chatgpt-sidebar-header-height: 40px;
$app-chatgpt-body-header-height: 40px;
