// 过渡动画
$app-transition-base: var(--el-transition-duration) cubic-bezier(.55,0,.1,1);
$app-transition-fast: var(--el-transition-duration-fast) cubic-bezier(.55,0,.1,1);

// 尺寸
$app-icon-size-base: 22px;
$app-icon-size-small: 16px;
$app-icon-size-large: 41px;
$app-padding-base: 15px;
$app-padding-small: 10px;
$app-padding-extra-small: 5px;
$app-padding-large: 20px;
$app-border-radius-base: 10px;
$app-border-radius-small: 5px;
$app-border-radius-large: 20px;
$app-line-height-large: 1.7rem;
$app-line-height-base: 1.5rem;
$app-line-height-min: 1rem;
$app-dialog-height: 450px;
$app-chatgpt-sidebar-width: 250px;
$app-chatgpt-sidebar-header-height: 40px;
$app-chatgpt-sidebar-search-height: 40px;
$app-chatgpt-sidebar-footer-height: 40px;
$app-chatgpt-body-header-height: 40px;
$app-chatgpt-input-image-height: 56px;
$app-chatgpt-input-file-height: 56px;
$app-chatgpt-message-image-height: 120px;
$app-chatgpt-message-file-height: 56px;
